{% if user.is_authenticated %}
	<p>Welcome, <a href="{% url 'profile' user.username %}">{{ user.username }}</a>!</p>
{% else %}
	<a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
{% endif %}

<p>{{ matchselect.game }}: {{ matchselect.team1}} vs. {{ matchselect.team2}}</p>
<p>{{ matchselect.match_date }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vote' matchselect.id %}" method="post">
{% csrf_token %}
{% for matchchoice in matchselect.matchchoice_set.all %}
    <input type="radio" name="matchchoice" id="matchchoice{{ forloop.counter }}" value="{{ matchchoice.id }}" />
    <label for="matchchoice{{ forloop.counter }}">{{ matchchoice.winner_choice }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
<a href="{% url 'results' matchselect.id %}">View results</a>